.transition-button{
background-color: blue;
transition:all;
transition-duration: 0.5s;
}
.transition-button:hover{
    background-color: green;
}
.transition-div{
    width: 100px;
    transition-duration: 1s;
    height:100px;
background-color: blueviolet;
}
.transition-div:hover{
    width: 200px;
}
.transition-text{
    font-size: 16px;
    transition-duration: 0.3s
}
.transition-text:hover{
    font-size: 24px;
}
.transition-image{
    opacity: 1;
    transition-duration: 0.8s;
}
.transition-image:hover{
    opacity: 0.5;
}
.scale-div{
    width: 100px;
    height:100px;
    background-color: pink;
}
.scale-div:hover{
    transform: scale(1.5);
}
.scale-image:hover{
transform: scale(0.75);
}
